* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}
body{
    overflow: hidden;
}
.loader-wrapper {
    width: 100%;
    height: 100vh;
    background-color:skyblue;
    position: relative;
  }
  .loader-wrapper div{
    position: absolute;
    left: 50%;
    top: 50%;
  }
.nav {
    background-color: blue;
    /* height: 50px; */
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-rightside {
    display: flex;
    flex-direction: row;
}

ul li {
    list-style: none;
    padding: 10px;
}

.nav-leftside .fa-brands {
    color: white;
    /* padding: 10px; */
}

span {
    color: white;
}

.fa-brands:hover {
    color: red;
}

.nav-leftside a:hover {
    color: red;
}

.nav-rightside .fa-solid {
    color: red;
    padding-left: 30px;
}

.nav-rightside span {
    color: white;
}

.naw2 {
    /* height: 80px; */
    display: flex;
    align-items: center;
}

.nav2-rightside {
    display: flex;
    justify-content: space-around;
}

.title-logo {
    margin-top: 5px;
}

.btn-nav {
    margin-top: 5px;
    background-color: #FF4747;
    border: none;
    padding-top: 8px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    /* font-weight: 600; */
    border-radius: 22px;
}

.btn-nav:hover {
    background-color: black;
}

.btn-nav a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

li {
    display: flex;
    gap: 30px;
}

.img-wrapper img {
    height: 50vh;
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

.hero-section {
    position: relative;
}

.img-title {
    position: absolute;
    top: 120px;
    left: 300px;
}

.img-title h1 {
    font-size: 45px;
    line-height: 1em;
    font-weight: 800;
    color: white;
    position: relative;
}

.img-title_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.img-title_list li a {
    text-decoration: none;
    color: white;
}

.img-title_list li a:hover {
    color: red;
}

.img-title_list li {
    color: white;
}

.img-title_list ul {
    display: flex;
    flex-direction: row;
}

.fa-chevron-right {
    margin-top: 6px;
}

.shoes-price {
    color: red;
    font-weight: 40px;
    font-size: 24px;
}

.shoes-desc {
    color: #808080;
    margin-top: 30px;
}

#second-section .container {
    margin-top: 100px;
}

.second-sec_right {
    margin-left: 40px;
}

.shoes-count {
    margin-top: 40px;
}

.count p {
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid black;
}

.shoes-count {
    display: flex;
    flex-direction: row;
}

.inc-dec_icons {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 50px;
    justify-content: space-around;
    background-color: grey;
}

.add-btn {
    margin-left: 30px;
}

.btn-add {
    width: 200px;
    height: 50px;
    background-color: #FF4747;
    border-radius: 30px;
    border: none;
    color: white;
}

.product-categories {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.product-categories a {
    color: #8a8d91;
}

.product-categories a:hover {
    color: red;
}

.social-icon {
    display: flex;
    flex-direction: row;
}

.social-icon li a {
    color: gray;
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon li a:hover {
    background-color: red;
    color: white;
}

.product-info-tabs {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.product-desc {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border-color: #8a8d91;
}

.product-desc a {
    text-decoration: none;
    color: black;
}

.review {
    width: 200px;
    height: 50px;
    /* background-color: #FF4747; */
    border-radius: 30px;
    border-color: #c7c4c4;
    ;
    background-color: white;
}

.review a {
    color: black;
    text-decoration: none;
}

.active {
    background-color: #FF4747;
}

hr {
    margin-top: 40px;
    color: grey;
}

/* .content{
    display: none;
} */
.comments {
    display: none;
}

.content-text {
    margin-top: 30px;
}

.content-text p {
    color: #808080;
}

.comments .col-6 {
    display: flex;
    flex-direction: row;
}

.rating ul {
    display: flex;
    flex-direction: row;
}

.comment-info h4 {
    margin-left: 40px;
}

.rating {
    margin-top: 5px;
}

.text p {
    margin-left: 40px;
}

.comment-info span {
    color: red;
}

.comment-form {
    display: flex;
    flex-direction: row;
}

.user-rating {
    display: flex;
    flex-direction: row;
}

.star-list {
    display: flex;
    flex-direction: row;
}

.star-list li {
    padding: 2px;
}

.btn-send {
    margin-top: 10px;
    background-color: red;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: white;
}

.third-section {
    margin-top: 600px;
    height: 70vh;
}

@media only screen and (max-width: 576px) {
    .middle-side {
        display: none;
    }

    .title-logo {
        text-align: center;
    }

    .fa-magnifying-glass {
        text-align: start;
    }

    .btn-nav {
        text-align: end;
    }

    .img-title h1 {
        text-align: center;
    }
}

#second-section {
    height: 90vh;
}

.nav-scroll {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;
    z-index: 9999;
}

.fa-arrow-up {
    margin-left: 1350px;
    /* bottom: -200px; */
    width: 35px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.third-section {
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}